* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: "Poppins";
}
p {
  max-width: 600px;
}

.mb1 {
  margin-bottom: 0.5rem;
}
.mb2 {
  margin-bottom: 1rem;
}
.mt1 {
  margin-top: 0.5rem;
}
.mt2 {
  margin-top: 1rem;
}
.ml1 {
  margin-left: 0.5rem;
}
.ml2 {
  margin-left: 1rem;
}
.mr1 {
  margin-right: 0.5rem;
}
.mr2 {
  margin-right: 1rem;
}
.mx {
  margin-left: auto;
  margin-right: auto;
}
.pt1 {
  padding-top: 0.5rem;
}
.pt2 {
  padding-top: 1rem;
}
.pb1 {
  padding-bottom: 0.5rem;
}
.pb2 {
  padding-bottom: 01rem;
}
.pl1 {
  padding-left: 0.5rem;
}
.pl2 {
  padding-left: 1rem;
}
.pr1 {
  padding-right: 0.5rem;
}
.pr2 {
  padding-right: 1rem;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw9 {
  font-weight: 900;
}

/* Section1 */
#section_1 {
  height: fit-content;
  margin-bottom: 15em;
}
.hero_container {
  height: fit-content;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.hero_text h1 {
  font-size: 40px;
  line-height: 1.25em;
  max-width: 600px;
}

.hero_image {
  width: 37rem;
  height: 25rem;
  display: flex;
}
.hero_btn {
  background-color: #ff4500;
  color: #f5f5f5;
  padding: 1.25em;
}
.hero_image img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.art_1 {
  margin-top: auto;
  margin-bottom: auto;
  height: 100vh;
}
.sub_hero {
  max-width: 800px;
  padding: 50px;
}
.sub_cards_container {
  height: fit-content;
  padding: 0px 50px 0px 50px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.icon_1 {
  margin-bottom: 2em;
  padding: 10px 10px 5px 10px;
  border-radius: 2px;
  background-color: #a3a2a273;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

/*Section - 2  */
#section_2 {
  height: fit-content;
}

/* Slideshow container */
.quotes_container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #202020;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.qt_img {
  padding: 1em;
}

.quote_block {
  text-align: center;
  line-height: 1.75em;
  max-width: 600px;
}

.quote_slide {
  display: flex;
  flex-direction: row;
}

.rightArrow {
  margin-top: auto;
  margin-bottom: auto;
}
.leftArrow {
  margin-top: auto;
  margin-bottom: auto;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.myQuote {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #50505075;
}

/* The dots/bullets/indicators */
.dash {
  cursor: pointer;
  height: 2px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dash:hover {
  background-color: #202020;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .hero_container {
    flex-wrap: wrap-reverse;
  }
  .sub_cards_container {
    flex-wrap: wrap;
  }
  .sub_hero {
    margin-left: auto;
    margin-right: auto;
  }
  .hero_image {
    height: 16rem;
  }
}
