* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: fit-content;
  font-family: "Poppins";
  overflow-x: auto;
}

body {
  height: fit-content;
}
p {
  max-width: 600px;
  line-height: 1.75rem;
}

.mb1 {
  margin-bottom: 0.5rem;
}
.mb2 {
  margin-bottom: 1rem;
}
.mt1 {
  margin-top: 0.5rem;
}

.mx {
  margin-left: auto;
  margin-right: auto;
}

.pt2 {
  padding-top: 1rem;
}
.pb1 {
  padding-bottom: 0.5rem;
}
.pb2 {
  padding-bottom: 01rem;
}
.pl1 {
  padding-left: 0.5rem;
}
.pl2 {
  padding-left: 1rem;
}
.pr1 {
  padding-right: 0.5rem;
}
.pr2 {
  padding-right: 1rem;
}

.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw9 {
  font-weight: 900;
}
.muted {
  color: #7e7e7e;
}
/* Section1 */
#section_1 {
  height: fit-content;
}
.hero_container {
  margin-top: 3rem;
  height: fit-content;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.hero_text h1 {
  font-size: 2rem;
  line-height: 1.25em;
  max-width: 600px;
}

.hero_image {
  width: 37rem;
  height: 25rem;
  display: flex;
}
.hero_btn {
  cursor: pointer;
  background-color: #ff4500;
  color: #f5f5f5;
  padding: 1.25em;
}
.hero_image img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.art_1 {
  height: fit-content;
  margin: 20% 0;
}
.sub_hero {
  max-width: 800px;
  padding: 2.4em;
}
.sub_cards_container {
  height: fit-content;
  padding: 0px 2em;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.icon_1 {
  margin-bottom: 2em;
  padding: 10px 10px 5px 10px;
  border-radius: 2px;
  background-color: #a3a2a273;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

/*Section - 2  */
#section_2 {
  height: fit-content;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* Aticle 2 */
.art_2 {
  height: fit-content;
  margin-top: 20%;
  margin-bottom: 20%;
}

.quotes_container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.quote_text {
  line-height: 2em;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.prev:hover,
.next:hover {
  background-color: #000000cc;
}

.qt_img {
  padding: 1em;
}

.quote_block {
  text-align: center;
  line-height: 1.75em;
  max-width: 600px;
}

.quote_slide {
  display: flex;
  flex-direction: row;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.myQuote {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.next {
  right: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.prev:hover,
.next:hover {
  background-color: #50505075;
}

.dash {
  cursor: pointer;
  height: 2px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dash:hover {
  background-color: #202020;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* article 3 */

.art_3 {
  height: fit-content;
  margin: 20% 0%;
  position: relative;
  overflow: hidden;
}
.navigation_container {
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_links {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.nav_links li {
  list-style: none;
}

.nav_links a {
  text-decoration: none;
  font-size: 1.35em;
  color: #7e7e7e;
}

.toggle_button {
  display: none;
  margin: 2em 50%;
}

.toggle_button div {
  width: 25px;
  height: 4px;
  margin: 4px;
  background-color: #7e7e7e;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.card_active,
.nav_links a:hover {
  color: #030303;
  text-decoration: underline;
}

.news_card_container {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.news_img {
  width: 22rem;
}

.new_card h4 {
  font-size: 1.25em;
  max-width: 20rem;
}

.insights {
  color: #ff4500;
}

.news {
  color: #800080;
}

.events {
  color: #218caf;
}

.card_descr {
  cursor: pointer;
}

.card_descr:hover {
  text-decoration: underline;
}

/* Article 4 */

.art_4 {
  height: fit-content;
  margin: 20% 0%;
}

.faq_container {
  display: flex;
  margin: 0px 1em;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 0 0 40%;
  margin-bottom: 2em;
  padding-left: 1em;
}

.answer {
  display: flex;
  flex-direction: column;
  flex: 0 0 60%;
  margin: 1em;
  padding-right: 1em;
}

.info_heading {
  font-size: 1.75rem;
  margin-bottom: 1em;
}

.q_and_a {
  padding: 0 0 1em 1em;
  display: grid;
  grid-template-columns: 80% 20%;
}

.question {
  padding-bottom: 1em;
  grid-column-start: 1;
  grid-column-end: 2;
}

.qst_icon {
  grid-column-start: 2;
  grid-column-end: 3;
  vertical-align: middle;
  padding-left: 3em;
  cursor: pointer;
}

.aws_1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.q_hr {
  width: 85%;
  color: #80808083;
  padding-left: 1em;
}

.q {
  align-items: center;
  padding: 1em;
}

#aws_1 {
  display: none;
}

#aws_2 {
  display: none;
}

#aws_3 {
  display: none;
}

#aws_4 {
  display: none;
}

.inline_link {
  color: #ff4500;
}

/* Article 5 */

.art_5 {
  height: fit-content;
  margin: 20% 0%;
}

.spcial_heading_container {
  display: flex;
  justify-content: space-between;
  margin: 2.2em;
}

.spcial_heading {
  font-size: 2em;
  font-weight: 900;
}

.arrow_bg {
  background-color: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.arrows {
  height: 20px;
  padding: 5px 10px;
  vertical-align: middle;
}

.spcial_card_container {
  display: flex;
  justify-content: flex-start;
  margin-left: 2em;
  overflow: hidden;
}

.spcial_card_img {
  width: 22rem;
}

.spcial_p {
  font-weight: 600;
  margin-top: 1em;
  margin-left: 0.5em;
  font-size: 1.2em;
  cursor: pointer;
}

.spcial_p:hover {
  color: #ff4500;
}

/* Media Querys */

@media (max-width: 1200px) {
  .card_3 {
    display: none;
  }
}

@media (max-width: 992px) {
  .hero_container {
    flex-wrap: wrap-reverse;
  }
  .sub_cards_container {
    flex-wrap: wrap;
  }
  .sub_hero {
    margin-left: auto;
    margin-right: auto;
  }
  .hero_image {
    height: 16rem;
  }
  .faq_container {
    flex-direction: column;
  }
}

@media (max-width: 788px) {
  .card_2 {
    display: none;
  }
  .toggle_button {
    display: block;
    cursor: pointer;
  }
  .nav_links {
    position: absolute;
    left: 0px;
    height: fit-content;
    width: 100%;
    top: 12vh;
    background-color: #ffffff;
    display: none;
    flex-direction: column;
  }
  .nav_links.nav_active {
    display: flex;
    animation-name: fade;
    animation-duration: 1.5s;
  }
}

@media (max-width: 400px) {
  .news_card_container {
    display: block;
  }
  .news_img {
    width: 18rem;
  }
  .spcial_card_container {
    margin-left: 1em;
  }
  .spcial_heading_container {
    margin: 2.2em 0.5em;
  }
  .sub_cards_container {
    padding: 0px 0.75em;
  }
  .sub_hero {
    padding: 1.5em;
  }
  .hero_container {
    margin-top: 0;
  }
  .hero_text h1 {
    font-size: 1.7rem;
  }
  .spcial_heading {
    font-size: 1.7rem;
  }
}
